.star {
    position: absolute;
    top: -10px;
    background-color: white;
    border-radius: 50%;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh);
    }
  }
  